@model User

<div>
	<form asp-action="EditUser" asp-controller="User" method="post">
		<div class="form-group">
			<label> User name </label>
			<input asp-for="FullName" class="form-control" placeholder="Enter FullName " />
			<br />

			<span asp-validation-for="FullName" class="text-danger">    </span>

		</div>
		<div class="form-group mt-2">
			<label> Password </label>
			<input asp-for="Password" class="form-control" placeholder="Enter Password " />
			<br />
			<span asp-validation-for="Password" class="text-danger">   </span>

		</div>
		<div class="container mt-2">
			<button class="btn btn-secondary" type="submit"> Save </button>
			<a href="/ShowUser" class="btn btn-info"> Back </a>

		</div>


	</form>

</div>